<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        CARD
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h4 class="card-title">Título</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
                        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero eos, aliquam
                            dolor sunt error blanditiis
                            quam officia ex debitis repudiandae ad atque dignissimos asperiores voluptatibus doloribus
                            necessitatibus ratione dicta eveniet!</p>
                        <a href="#" class="card-link">Link</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 20rem;">
                    <div class="card-header">Destaque</div>
                    <div class="card-body">
                        <img src="http://s2.glbimg.com/mN0KEVu7kRQJvSXqYUNN8g_2Qjw=/695x0/s.glbimg.com/po/tt2/f/original/2016/03/11/lara.jpg"
                            alt="" class="card-img-top">
                        <div class="card-body">
                            <h4 class="card-title">Título</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Subtitulo</h6>
                            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero eos,
                                aliquam
                                dolor sunt error blanditiis
                                quam officia ex debitis repudiandae ad atque dignissimos asperiores voluptatibus
                                doloribus
                                necessitatibus ratione dicta eveniet!</p>
                            <a href="#" class="card-link">Link</a>
                        </div>
                        <div class="card-footer text-muted">Fim</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous">
</script>

</html>